registry=https://pkgs.dev.azure.com/GLS-AZ-US/_packaging/360ShellLayout/npm/registry/ 
//pkgs.dev.azure.com/GLS-AZ-US/_packaging/360ShellLayout/npm/registry/:username=GLS-AZ-US
//pkgs.dev.azure.com/GLS-AZ-US/_packaging/360ShellLayout/npm/registry/:_password=NlVmZnJEd3JtQUxFMk55Nmw3eUR2Q2VlSmRqZmd0NEI3Mmd2RnVtRk80Y295dmRqeUZyU0pRUUo5OUJIQUNBQUFBQWtDeEJpQUFBU0FaRE91WkZL
//pkgs.dev.azure.com/GLS-AZ-US/_packaging/360ShellLayout/npm/registry/:email=sidra.ashfaq@gls-us.com
//pkgs.dev.azure.com/GLS-AZ-US/_packaging/360ShellLayout/npm/:username=GLS-AZ-US
//pkgs.dev.azure.com/GLS-AZ-US/_packaging/360ShellLayout/npm/:_password=NlVmZnJEd3JtQUxFMk55Nmw3eUR2Q2VlSmRqZmd0NEI3Mmd2RnVtRk80Y295dmRqeUZyU0pRUUo5OUJIQUNBQUFBQWtDeEJpQUFBU0FaRE91WkZL
//pkgs.dev.azure.com/GLS-AZ-US/_packaging/360ShellLayout/npm/:email=sidra.ashfaq@gls-us.com
always-auth=true

